<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792774983598-crgclridr0l0kt37brmiktovmihccfpj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792774983598-crgclridr0l0kt37brmiktovmihccfpj</string>
	<key>API_KEY</key>
	<string>AIzaSyAr9YlU4wwJn1iPL_jwf7Ypl32Jn3xppd8</string>
	<key>GCM_SENDER_ID</key>
	<string>792774983598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xpt.mygarden</string>
	<key>PROJECT_ID</key>
	<string>greenhouse-de3b0</string>
	<key>STORAGE_BUCKET</key>
	<string>greenhouse-de3b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792774983598:ios:7c7ae21f722bed18</string>
	<key>DATABASE_URL</key>
	<string>https://greenhouse-de3b0.firebaseio.com</string>
</dict>
</plist>